extends layout

block content
    form(method='post',action='/upload', enctype='multipart/form-data')
      p Welcome to #{title}
      input(type='file' id='file' name='file', class="uploadFile")
      input(type='submit', name='uploadimage', value='Upload File')

block links
   a(href=url) Descarga el Archivo que se genero...

